@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #502E78;
    font-family: 'Roboto', sans-serif;
}

/* Styling the navigation bar */

.navbar {
    display: flex;
    justify-content: right;
}

.navlist {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navitem {
    margin: 10px;
}

.navitem > a {
    text-decoration: none;
    color: #ffffff;
}

/* Styling the logo */

.logo {
    
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   bottom: -90px;
}